---
export interface Props {
  pubDate: Date;
}

import { getLangFromUrl } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { pubDate } = Astro.props;

let months = ['January','February','March','April','May','Jun','July','August','September','October','November','December'];
if (lang == 'es') {
  months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','September','Octubre','Noviembre','Diciembre'];
}

const year = pubDate.getFullYear();
const month = months[pubDate.getMonth()];
const day = pubDate.getDate();
---

<div class="flex items-center justify-between">
  <div>
    <time datetime={ pubDate.toString() } class="text-gray-500 dark:text-gray-300">
      { month } { day }, { year }
    </time>
  </div>
</div>
