---
import type { HTMLAttributes } from "astro/types";
import ArrowIcon from "./ArrowIcon.astro";

interface Props extends HTMLAttributes<"a"> {
  icon?: boolean;
  prev?: boolean;
  label?: string;
  title?: string;
}
const { icon = false, prev = false, label, title } = Astro.props;
---

<a
  {...Astro.props}
  class={
    `card card-shadow not-prose block flex-[1_0_40%] px-4 py-2 transition hover:scale-[102%]
    ${ !prev && "text-end" }`
  }
  title={title}
>
  <span class={`flex items-center gap-2 ${!prev && "flex-row-reverse"}`}>
    {
      icon && (
        <ArrowIcon
          class={`${
            prev ? "rotate-90" : "-rotate-90"
          } inline h-4 fill-zinc-500 dark:fill-white`}
        />
      )
    }
    <span class="mb-0.5 text-lg font-normal text-zinc-500 dark:text-white">
      {label}
    </span>
  </span>
  <slot />
</a>

<style lang="scss">
.card:hover {
  outline: 1px solid var(--primary);
}
</style>
