.tierBox {
  display: flex;
  justify-content: start;
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  min-height: 100px;
  box-shadow: 0 3px 6px var(--shadow);
  z-index: 1;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-out forwards;
  will-change: transform, opacity;

  .tierTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 10px;

    &.t1 {
      background-color: var(--accent);
    }
    &.t2 {
      background-color: #6DE039;
    }
    &.t3 {
      background-color: var(--alternative);
    }
    &.t4 {
      background-color: #E34F26;
    }
    &.t5 {
      background-color: crimson;
    }

    img {
      box-shadow: none;
    }
  }
  .imagesBox {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 5px;
    width: 90%;
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@for $i from 1 through 5 {
  .tierBox:nth-child(#{$i}) {
    animation-delay: $i * 0.2s;
  }
}
