---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import BlogCard from '../components/BlogCard.astro';

const solanaPosts = await getCollection('solana');
console.log('solanaPosts', solanaPosts);

---

<MainLayout title="Blog | Kevin Fiorentino">
  <h1 class="text-gradient">
    Blog
  </h1>
</MainLayout>

<style>

</style>
