---
import MainLayout from '../layouts/MainLayout.astro';
import BlogCard from '../components/BlogCard.astro';

const solana = await Astro.glob('../content/solana/*.md');
---

<MainLayout title="Home | Kevin Fiorentino">
  <h1 class="text-gradient">
    Kevin Fiorentino
  </h1>
  <div role="list" class="link-card-grid">
    {
      solana.map(item => (
        <BlogCard
          title={item.frontmatter.title}
          body="asd"
          href="https://docs.astro.build/"
          description={item.frontmatter.description}
        />
      ))
    }
  </div>
</MainLayout>

<style>
.link-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}
@media (max-width: 768px) {
  .link-card-grid {
    grid-template-columns: 1fr;
  }
}
</style>
