<section class="main-width grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
  <div class="lg:col-span-2">
    <h1 class="text-gradient">
      I'm Kev
    </h1>
    <p class="mb-3">
      Years working on Web2 projects as a full-stack PHP and Javascript developer. Carrying that knowledge to Web3 to decentralize applications and leading teams. <br>
      Writer, content creator for Platzi's community, and I have a degree in information systems BTW. <br>
      Taking my first steps as an entrepreneur.
    </p>
    <hr>
  </div>
  <div class="order-first md:order-last">
    <div class="polygon-shadow">
      <img src="/kevin.png" class="kev-image m-auto" alt="Kevin Fiorentino" />
    </div>
    <p class="uppercase dark:text-white text-center mt-3">I got amazing power of observation</p>
  </div>
</section>

<style lang="scss">
.kev-image {
  max-height: 300px;
  clip-path: polygon(15% 10%, 100% 0, 100% 25%, 100% 100%, 0 85%);
}
</style>
