---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section class="main-width grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
  <div class="lg:col-span-2">
    <h1 class="text-gradient mt-0">
      {t('home.kev')}
    </h1>
    <p class="mb-3">
      {t('home.presentation1')} <br>
      {t('home.presentation2')} <br>
      {t('home.presentation3')}
    </p>
  </div>
  <div class="order-first md:order-last">
    <div class="polygon-shadow">
      <img src="/kevin.webp" class="kev-image m-auto" alt="Kevin Fiorentino" />
    </div>
  </div>
</section>

<style lang="scss">
.kev-image {
  max-height: 280px;
  clip-path: polygon(15% 10%, 100% 0, 100% 25%, 100% 100%, 0 85%);
}
</style>
