<section class="main-width grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
  <div class="lg:col-span-2">
    <h1 class="text-gradient">
      I'm Kev
    </h1>
    <p class="mb-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora sunt iste quia officia illo obcaecati esse alias, nihil corrupti animi cupiditate adipisci temporibus aliquam quaerat vitae culpa, vel omnis.
    </p>
    <p class="mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum laborum facilis corrupti aliquam praesentium. Voluptate, provident! Esse culpa omnis nesciunt quo vitae excepturi alias reprehenderit, temporibus odio modi doloribus.
    </p>
    <hr>
  </div>
  <div class="order-first md:order-last">
    <div class="polygon-shadow">
      <img src="/kevin.png" class="kev-image m-auto" alt="Kevin Fiorentino" />
    </div>
    <p class="uppercase dark:text-white text-center mt-3">I got amazing power of observation</p>
  </div>
</section>

<style lang="scss">
.kev-image {
  max-height: 300px;
  clip-path: polygon(15% 10%, 100% 0, 100% 25%, 100% 100%, 0 85%);
}
</style>
