---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { techWrapper } from '@utils/tech-wrapper';
import TechsBox from './techs/TechsBox.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

console.log(techWrapper);
---

<section class="bg-techs bg-polygon relative">
  <div class="main-width relative z-10">
    <h2 class="text-white text-center">
      Tech Journey
    </h2>
    <br>
    <div role="list" class="tech-main-box flex flex-wrap justify-center items-center">

      {
        techWrapper.map((box: any) => (
          <TechsBox
            techBox={box}
          ></TechsBox>
        ))
      }

    </div>
  </div>
</section>

<style lang="scss">
.bg-techs {
  background: var(--primary);
  h2 {
    -webkit-text-fill-color: white;
    margin-bottom: 20px;
  }
}
.tech-main-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 30px;
}
</style>
