---
export interface Props {
  posts: any;
}

import { getLangFromUrl, useTranslations } from '@i18n/utils';
import BlogCard from '@components/BlogCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const param = Astro.params;
const { posts } = Astro.props;
---

<section class="main-width">
  <div>
    <h2 class="text-gradient font-bold mb-0">
      Blog
    </h2>
    <hr class="hr mt-2 mb-0">
    <p class="text-gray-800 dark:text-white">
      {t('blog.text')}
    </p>
    <br>
    <div role="list" class="cards-grid mt-4">
      {
        posts.map((item: any) => (
          <div>
            <BlogCard
              slug={item.slug}
              collection={item.collection}
              title={param.lang == 'es' ? item.data.title : item.data.englishMetadata.title}
              description={param.lang == 'es' ? item.data.description : item.data.englishMetadata.description}
              image={item.data.image}
              pubDate={item.data.pubDate}
            >
            </BlogCard>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
h2 {
  font-weight: 900;
}
</style>
