.bgTechs {
  background: var(--primary);
  h2 {
    -webkit-text-fill-color: white;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .techMainBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 30px;
  }
  .btnTechs {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    justify-content: center;
    gap: 15px;

    button {
      color: #1D1D1D;
      background-color: #E5E7EB;
      font-size: 22px;
      font-weight: 800;
      width: max-content;
      padding: 0px 15px;
      box-shadow: 0 3px 6px var(--shadow);
      &.active, &:hover {
        color: #E5E7EB;
        background-color: var(--alternative);
      }
    }
  }
  .text {
    color: var(--white);
    font-size: 18px;
    margin-bottom: 15px;
  }
  .tierMainBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.skeletonWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 30px;
  .skeletonBox {
    height: 200px;
    width: 100%;
    background: #13161C;
    opacity: .4;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(90deg, #13161C 25%, #1E222A 50%, #13161C 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;

    .skeletonTitle {
      display: flex;
      justify-content: center;
      background-color: var(--accent);
      padding: 7px 40px;
      margin-top: -20px;
      width: max-content;

      background: linear-gradient(90deg, var(--accent) 25%, #337CBB 50%, var(--accent) 75%);
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}
