---
export interface Props {
  slug: string;
  collection: string;
	title: string;
  description: string;
  pubDate: Date;
}

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {
  slug,
  collection,
  title,
  description,
  pubDate,
} = Astro.props;
---

<article class="blog-card card-background relative" role="listitem">
  <a href={`/${lang}/blog/${collection}/${slug.slice(3)}`} title={ title } class="flex relative z-10">

    <div class="flex flex-1 flex-col justify-between">
      <div class="border-l border-gray-900/10 p-3 dark:border-white/10 sm:!border-l-transparent sm:p-4">
        <h3 class="text-white font-bold uppercase">
          { title }
        </h3>
        <p class="mt-2 text-sm leading-relaxed text-white line-clamp-3">
          { description }
        </p>
      </div>

      <div class="sm:flex sm:items-end sm:justify-end">
        <div class="text-white btn-read px-5 py-3 text-center text-xs font-bold uppercase transition">
          {t('read-post')}
        </div>
      </div>
    </div>
  </a>
</article>

<style lang="scss">
.blog-card {
  h3 {
    -webkit-text-fill-color: white;
    line-height: 30px;
  }
  &.card-background {
    background: var(--bg-gradient);
  }
  .btn-read {
    background-color: var(--alternative);
    margin-bottom: -9px;
  }
}
</style>
