---
export interface Props {
  slug: string;
  collection: string;
	title: string;
  description: string;
  pubDate: Date;
}

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const {
  slug,
  collection,
  title,
  description,
  pubDate,
} = Astro.props;
---

<article class="blog-card relative" role="listitem">
  <a href={`/${lang}/blog/${collection}/${slug.slice(3)}`} title={ title } class="flex relative">

    <div class="flex flex-1 flex-col justify-between p-3">
      <div class="mb-3">
        <h3 class="text-white font-bold uppercase">
          { title }
        </h3>
        <p class="mt-2 text-sm leading-relaxed dark:text-white">
          { description }
        </p>
      </div>
      <div class="flex items-end justify-between">
        <span class="post-collection capitalize">
          { collection }
        </span>
        <div class="btn-read dark:text-white text-center font-bold uppercase">
          {t('read-post')}
        </div>
      </div>
    </div>
  </a>
</article>

<style lang="scss">
.blog-card {
  border-left: 2px solid var(--primary);

  h3 {
    color: var(--black);
    line-height: 30px;
  }
  .post-collection {
    color: var(--white);
    background-color: var(--primary);
    font-size: 14px;
    padding: 0 5px;
  }
  .btn-read {
    font-size: 14px;
    padding: 0 5px;
  }
  &:hover {
    box-shadow: 0 3px 6px #2596BE29;
  }
}
</style>
