---
export interface Props {
  slug: string;
  collection: string;
	title: string;
  description: string;
  image: {
    url: string,
    alt: string
  };
  pubDate: Date;
}

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const {
  slug,
  collection,
  title,
  description,
  image,
  pubDate,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
const year = pubDate.getFullYear();
const month = months[pubDate.getMonth()];
const day = pubDate.getDate();
---

<article class="blog-card card-background hover:shadow-xl">
  <a href={`/${lang}/blog/${collection}/${slug.slice(3)}`} title={ title } class="flex transition">
    <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
      <time datetime={ pubDate.toString() } class="flex items-center justify-between text-white text-xs font-bold uppercase gap-4">
        <span>{ year }</span>
        <span class="w-px flex-1"></span>
        <span>{ month } { day }</span>
      </time>
    </div>

    <div class="hidden sm:block sm:basis-56">
      <img class="aspect-square rounded-none h-full w-full object-cover" src={ image.url } alt={ image.alt }/>
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div class="border-l border-gray-900/10 p-3 dark:border-white/10 sm:!border-l-transparent sm:p-4">
        <h3 class="font-bold uppercase text-white">
          { title }
        </h3>
        <p class="mt-2 text-sm leading-relaxed text-white line-clamp-3">
          { description }
        </p>
      </div>

      <div class="sm:flex sm:items-end sm:justify-end">
        <div class="btn-read px-5 py-3 text-center text-xs font-bold uppercase text-white transition">
          Read Article
        </div>
      </div>
    </div>
  </a>
</article>

<style lang="scss">
.blog-card {
  h3 {
    line-height: 30px;
  }
  &.card-background {
    background: var(--bg-gradient);
  }
  .btn-read {
    background-color: var(--alternative);
  }
}
.blog-card a:hover, .blog-card a:focus {
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
}
</style>
