---
export interface Props {
  tags: string[];
}

import { getLangFromUrl } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { tags } = Astro.props;
---

<section>
  {
    tags?.map((t) => (
      <a href={`/${lang}/tags/${t}`} class="tag text-gradient mr-1" title={`Tag: ${t}`}>
        {t}
      </a>
    ))
  }
</section>

<style>
.tag {
  font-weight: 800;
  text-transform: capitalize;
}
.tag:hover, .tag:focus {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}
</style>
