---
import MainLayout from '@layouts/MainLayout.astro';
import { languages } from '@i18n/ui';

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).map((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}
---

<MainLayout title="Contact | Kevin Fiorentino">
  <h1 class="text-gradient">
    Contact
  </h1>
</MainLayout>

<style>

</style>
