---
import MainLayout from '@layouts/MainLayout.astro';
import { languages } from '@i18n/ui';

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).map((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}
---

<MainLayout
  title="Contact | Kevin Fiorentino"
  description="Contact to Kevin Fiorentino"
  image=''
>
  <section>
    <h1 class="text-gradient">
      Contact
    </h1>
    <div>
      <div class="flex justify-center">

        <!-- <div class="box max-w-max">
          <ul>
            <li>
              XXX
            </li>
            <li>
              XXX
            </li>
            <li>
              XXX
            </li>
          </ul>
        </div> -->

      </div>
    </div>
  </section>
</MainLayout>

<style>
.box {
  border: 1px solid red;
}
</style>
