---
import { getCollection } from 'astro:content';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).forEach((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}

---

<MainLayout
  title="Home | Kevin Fiorentino"
  description={`Kevin Fiorentino's personal and professional website`}
  image=''
>
  <h1 class="text-gradient">
    Kevin Fiorentino {lang}
  </h1>
  <div role="list" class="cards-grid">

    <div class="stack">
      <h2 class="mb-3">My stack</h2>
      <div class="flex justify-between items-center">
        <div>
          <img src="/tech/solana.svg" />
        </div>
        <div>
          <img src="/tech/ethereum.svg" />
        </div>
        <div>
          <img src="/tech/javascript.png" />
        </div>
        <div>
          <img src="/tech/typescript.svg" />
        </div>
        <div>
          <img src="/tech/angular.svg" />
        </div>
        <div>
          <img src="/tech/nodejs.png" />
        </div>
        <div>
          <img src="/tech/rust.svg" />
        </div>
      </div>
    </div>

  </div>
</MainLayout>

<style lang="scss">
.stack img {
  width: 100px;
  box-shadow: none;
}
</style>
