---
import { getCollection } from 'astro:content';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).forEach((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}

---

<MainLayout
  title="Home | Kevin Fiorentino"
  description="Kevin Fiorentino's personal and professional website"
  image=''
>
  <h1 class="text-gradient">
    Kevin Fiorentino {lang}
  </h1>
  <div role="list" class="cards-grid">

  </div>
</MainLayout>

<style>

</style>
