---
import MainLayout from '@layouts/MainLayout.astro';
import { languages } from '@i18n/ui';

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).map((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}
---

<MainLayout
  title="Who I am? | Kevin Fiorentino"
  description="Who is Kevin Fiorentino?"
  image=''
>
  <h1 class="text-gradient">
    Who I am?
  </h1>
</MainLayout>

<style>

</style>
