---
import MainLayout from '@layouts/MainLayout.astro';
import { languages } from '@i18n/ui';

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).forEach((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}
---

<MainLayout
  title="Word experience | Kevin Fiorentino"
  description="Kevin Fiorentino's work experience"
  image=''
>
  <h1 class="text-gradient">
    Word experience
  </h1>
</MainLayout>

<style>

</style>
