---
import MainLayout from '@layouts/MainLayout.astro';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).forEach((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}
---

<MainLayout
  title={`${t('experience')} | Kevin Fiorentino`}
  description={t('experience.description')}
  image="/kevin.png"
  addWidth={false}
>
  <section class="experience-page relative">

    <div class="main-width">
      <h1 class="text-gradient relative z-10">
        {t('experience')}
      </h1>
    </div>

    <br>

    <div class="experience-box bg-polygon relative">
      <div class="main-width relative pt-0 pb-0 z-10">

        <div class="block sm:flex items-center">
          <a href="#" target="_blank" title="" class="text-center mr-4 mb-2">
            <img src="/tech/solana.svg" alt="Solana logo" title="Solana Blockchain" />
            <small>Platzi</small>
          </a>
          <div>
            <h2>Writing Contributor</h2>
            <small>Mar 2022 - Present</small>
            <p>
              Content creator to contribute to Platzi’s community about technologies such as Angular, NodeJS, Solidity, Rust, Blockchain (Bitcoin, Ethereum, Solana), and Web3. <br>
              Lead contributor to the internal team as editor and content moderator.
            </p>
            <span><strong>Skills:</strong> Copywriting · Communication · SEO</span>
          </div>
        </div>

      </div>
    </div>

    <br><br><br><br>




  </section>

  <br><br>

</MainLayout>

<style lang="scss">
.experience-page {
  .experience-box {
    background: var(--primary);

    img {
      background: var(--white);
      padding: 10px;
      max-width: 100px;
      box-shadow: 0 3px 6px var(--shadow);
      clip-path: polygon(2% 2%, 100% -2%, 98% 100%, 100% 100%, 0 98%);
    }
    h2 {
      -webkit-text-fill-color: white;
      line-height: 40px;
    }
    small, span {
      color: var(--white);
    }
  }
}
</style>
