---
import { getCollection } from 'astro:content';
import { collectionMetadata } from '@content/config';
import MainLayout from '@layouts/MainLayout.astro';
import Breadcrumbs from '@components/articles/Breadcrumbs.astro';
import ToC from '@components/articles/ToC.astro';

import '@styles/article.scss';

export async function getStaticPaths() {

  const pages: any[] = [];

  // Build pages of each content
  for await (let c of collectionMetadata) {
    const coll = await getCollection(c.name as any);
    coll.map((post) => {
      pages.push({
        params: {
          lang: 'es',
          category: c.name,
          slug: post.slug,
        },
        props: {
          category: c.name,
          post: post,
        },
      });
      if (post.data.englishMetadata) {
        pages.push({
          params: {
            lang: 'en',
            category: c.name,
            slug: post.slug,
          },
          props: {
            category: c.name,
            post: post,
          },
        });
      }
    });
  }

  return pages;
}

const param = Astro.params;
const post = Astro.props.post;

const { collection } = post;
const { title, description, pubDate, englishMetadata } = post.data;

const enTitle = englishMetadata.title;
const enDescription = englishMetadata.description;

const { Content, headings } = await post.render();
---

<MainLayout
  title={`${param.lang == 'es' ? title : enTitle} | Kevin Fiorentino`}
  description={`${param.lang == 'es' ? description : enDescription}`}
  image='/kevin.webp'
  addWidth={true}
>
  <section class="grid grid-cols-5">

    <section class="col-span-5 md:col-span-3 sm:col-span-5 xs:col-span-5">
      <section class="header-article-content">
        <Breadcrumbs
          collection={collection}
          pubDate={pubDate}
        ></Breadcrumbs>
      </section>
      <article class="main-article-content">
        <Content />
      </article>
    </section>
    <aside class="md:col-span-2 hidden md:inline mx-5">
      <ToC headings={headings}></ToC>
    </aside>

  </section>
</MainLayout>
