---
export interface Props {
	title: string;
  description: string;
  image: string;
  addWidth: boolean;
}

import { getLangFromUrl } from '@i18n/utils';
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import LanguagePicker from '@components/LanguagePicker.astro';

import '@styles/global.scss';

const { title, description, image, addWidth } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html id="kevin" class="dark" lang={lang}>
	<Head
    title={title}
    description={description}
    image={image}
  ></Head>
	<body class="bg-gray-100 dark:bg-gray-800">
    <Header></Header>
    <LanguagePicker></LanguagePicker>
    <!-- <div class="bg-gradient flex justify-center"></div> -->
    <main class={`${addWidth ? 'main-width' : ''}`}>
      <slot />
    </main>
    <Footer></Footer>
	</body>
</html>

<style is:global>
:root {
  --white: #FAFAFA;
  --black: #1D1D1D;
  --primary: #2596BE;
  --accent: #6D474A;
  --alternative: #378D99;
  --meddle-background: linear-gradient(45deg, var(--primary), var(--accent) 30%, var(--primary) 60%);
}
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #F6F6F6;
}
body {
  min-height: 100vh;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
/* .bg-gradient {
  position: absolute;
  width: 100%;
  height: 75vh;
  background: linear-gradient(160deg,var(--primary) 15%,var(--accent) 50%,var(--primary) 85%);
  opacity: .15;
  filter: blur(50px);
} */
</style>
